.productInfo{
    text-align: left;
    margin-left: 20px;
}

.productPrice{
    font-family: "SVN-Proxima Nova", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

.colorOption,.sizeOption{
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.colorText{
    font-size: 14px;
}

.colorImage{
    max-width: 25px;
    max-height: 25px;
    margin-right: 2px;
}

.colorItem,.sizeItem{
    position: relative;
    list-style: none;
    border: 0.3px solid;
    padding: 5px;
    margin-right: 8px;
    cursor: pointer;
    
}

.sizeItem{
    width: 2.2rem;
    display: inline-block;
}

#btn_AddCart{
    width: 100%;
    border: none;
    color: aliceblue;
    background-color: rgb(14, 14, 14);
    padding: 15px 0;
}

.otherInfo{
    margin-top: 1rem;
}

.otherInfo ul{
    padding-left: 0;
}

.otherInfo li{
    
    list-style: none;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 0.3px solid #ddd;
}

.otherInfo .icon{
    margin-right: 0.8rem;
    font-size: 20px;
}

.selected{
    background-color: rgb(41, 41, 41);
    background: url("https://theme.hstatic.net/1000026602/1001012449/14/bg_checked_n.png?v=646");
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    z-index: 1;
    opacity: 0;
}

.sizeItem .active, .colorItem .active{
    opacity: 1;
}

.productQuantity{
    background-color: #f6f4f5;
    margin: 1rem 0;
    padding: 0.5rem;
}

.productQuantity > b{
    display: inline-block;
    margin-bottom: 0.5rem;
}